In [10]:
import os
import csv
import pandas as pd

purchase_csv = "./purchase_data.csv" 

purchase_df = pd.read_csv(purchase_csv)

purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
#Total Number of Players
total_players = purchase_df["SN"].unique()
print(f"There are {len(total_players)} players")

Therea are: 576 players

In [17]:
# Number of Unique Items

item_count = purchase_df["Item ID"].unique()

# Average Purchase Price


# Total Number of Purchases
# Total Revenue

# print(f"There are {len(item_count)} unqiue items")

There are 179 unqiue items

In [ ]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

In [ ]:
# The below each broken by gender
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Gender

In [ ]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group

In [ ]:
# spenders_df = pd.DataFrame({"SN": [unique],
#                            "Purchase Count": [latest_year],
#                            "Average Purchase Price": [total_reviews],
#                           "Total Purchase Value": []})


# popular_df = pd.DataFrame({"Item ID": [unique],
#                            "Item Name": [earliest_year],
#                            "Purchase Count": [latest_year],
#                            "Item Price": [total_reviews],
#                           "Total Purchase Value": []})

# profitable_df = pd.DataFrame({"Item ID": [unique],
#                            "Item Name": [earliest_year],
#                            "Purchase Count": [latest_year],
#                            "Item Price": [total_reviews],
#                           "Total Purchase Value": []})